.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.main:hover .image {
  transition: all 0.3s ease;
  transform: scale(2);
}
.main:hover .text {
  transition: all 0.3s ease;
  transform: scale(1.8);
}

.main {
  position: relative;
  cursor: pointer;
}
.main:hover .overlay {
  opacity: 1;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #fff;
}

.text {
  color: #000;
  font-size: 20px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 35%;
  transition: visibility 0.14s ease-in, opacity 0.14s ease-in;
  transform: 0.24s ease;
}
